body {
  background-color: var(--sl-color-neutral-300);
  background-image: url("/img/003_basecolor_0.png");
  background-size: 64px;
}
:root {
  --min-width: 950px;
}
.main-wrapper {
  min-width: var(--min-width);
  width: var(--min-width);
  border: 1px solid black;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

main {
  display: flex;
  flex-direction: row;
}

.column {
  border: 2px solid black;
  margin: 4px;
  padding: 4px;
  border-radius: 5px;
  flex: 1;
}

.col-middle {
  flex: 5;
}
header {
  display: flex;
  flex-direction: row;
}
#denlogo {
  height: 20%;
  width: 20%;
  border-radius: 10%;
  margin: 5px;
  align-self: center;
}
#dentitle {
  margin-top: -30px;
  margin-bottom: -30px;
}

.grid-selected {
  background-color: #000;
}

.hidden {
  display: none;
  visibility: hidden;
}
