<div class='footer'>
  <div>
  <a href="https://andreww.xyz"> <Copyright></Copyright> &copy; Andrew Wooldridge 2023 </a>
    </div>
<!-- donate -->

  <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('triptych', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Support Us',
    'floating-chat.donateButton.background-color': '#794bc4',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>
</div>
<style>
  div.footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer a {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 5px #000;
  }
</style>
