---
import Login from "./Login.astro";
import "../../public/style/left_column.css";
---

<nav>
  <h3>Navigation</h3>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a class="login-button" href="javascript:void(0)">Login</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/account">Account</a></li>
    <li><a href="/game">Game</a></li>
  </ul>
</nav>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.5.2/cdn/themes/light.css"
/>
<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.5.2/cdn/shoelace-autoloader.js"
></script>

<!-- left hand drawer for login -->

<div class="login-panel">
  <sl-drawer label="Login/Logout" class="drawer-overview">
    <Login />
    <sl-button slot="footer" variant="primary">Close</sl-button>
  </sl-drawer>
</div>
<script>
  const drawer = document.querySelector(".login-panel .drawer-overview");
  console.log("drawer", drawer);
  const openButton = document.querySelector(".login-button");
  const closeButton = drawer.querySelector(
    '.login-panel sl-button[variant="primary"]'
  );

  openButton.addEventListener("click", () => drawer.show());
  closeButton.addEventListener("click", () => drawer.hide());
</script>
<style>
  .drawer-overview {
    font-family: sans-serif;
  }
</style>
