---

---

<div>
  <h2>Denweaver News</h2>
  <ul>
    <li>
      <b>September 18, 2023</b>: Moved hosting to another provider and got lots
      of odd bugs fixed. Working on making the site more readable and just
      fixing many different issues. I also added a placeholder <a
        href="/welcome">welcome</a
      > page that talks about how the game works.
    </li>
    <li>
      <b>August 19, 2023</b>: Lots of progress - mainly around integration with <a
        href="https://appwrite.io">Appwrite</a
      > as our backend. Working now on a <a href="/gameproto">prototype</a> for
      the game view.
    </li>
    <li>
      <b>July 30, 2023</b> : Working on getting login working properly so I can
      start creating fun things for accounts. <a href="/index-old"
        >The old index page</a
      >
    </li>
    <li>
      <b>July 23, 2023</b> : Welcome to Denweaver! I'm just now getting things
      up and running using the amazing <a href="https://astro.build">Astro</a>
       engine.
    </li>
  </ul>
</div>
<style>
  div {
    color: #000;
    background-color: rgba(128, 128, 128, 0.9); /* light grey, 80% opaque */
    font-family: sans-serif;
    padding: 6px;
  }
  ul li {
    padding-bottom: 4px;
  }
</style>
