---
---
<header>
  <a href="/"><img src="/img/logo2.png" id="denlogo"></img></a>
  <img src="/img/Denweaver.png" id="dentitle"></img>
</header>
<style>
 header{  
  display: flex;
  flex-direction: row;

 }
#denlogo{
  height: 128px;
  width: 128px;
  border-radius: 10%;
  margin: 5px;
  align-self: center;
}
#dentitle{
  margin-top: -30px;
  margin-bottom: -30px;
  height: 50%;
  width: 50%;
}

</style>