---
const name = "DenWeaver"
---
<body>
<header>
<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/login_self">Login</a></li>


</ul>
</nav>
</header>
<main>
<h1>Welcome to {name}</h1>

<p>Nothing is working yet. It's a pile of code with no direction yet. If you are seeing this, beware of dragons.</p>

<ul>
<li><a href="testing.pdf">Testing.pdf</a> it seems I can generate PDF files from Astro</li>
<li><a href="/kaboom-test">kaboom</a> I can run Kaboom games!</li>
<li><a href="/svelte">Svelte in Astro</a></li>

</ul>
</main>
</body>

<style>


</style>
