---
---
<script>
import { Client, Account, ID } from "appwrite";

const client = new Client()
    .setEndpoint('https://cloud.appwrite.io/v1') // Your API Endpoint
    .setProject('64a1b20d159e6fafb4f2');               // Your project ID

console.log(client)

</script>
<p>Success</p>