---
---
<h1>About</h1>

<p>What is Denweaver? Here is my description from Mastodon.</p>

<blockquote>
So, I'm making:
A traditional web-based RPG / MMO where you 
<ul>
<li>log in each day and do some stuff like quests
<li>chat with your friends
<li>collect stuff
<li>grow stuff
<li>make stuff
<li>use that stuff to create 
</ul>
<ol>
<li>a nice little home with furniture and wallpapers
<li>beneath your home a dungeon with cool monsters, treasure, and traps!
</ol>
So you'll invite someone over to visit and they can choose to delve into your own custom dungeon which gives you points to go get more fun things from the store, or you can send them on quests to fetch something neat down there to keep ( and you get XP for it )

</blockquote>

<style>
blockquote {
border: 1px solid black;
margin: 6px;
padding: 6px;
}
</style>