---
import CommonLayout from "../layouts/CommonLayout.astro";
// import Login from '../components/Login.astro'
import LoginEventEmitter from "../components/LoginEventEmitter.astro";
import SmallHeader from "../components/SmallHeader.astro";
import ProfileManager from "../components/ProfileManager.astro";
---

<CommonLayout title="Denweaver - Account">
  <div class="main-wrapper">
    <SmallHeader />

    <style>
      body {
        background-color: tan;
        font-family: sans-serif;
      }
      .hidden {
        display: none;
      }
      .username {
        font-weight: bold;
      }
    </style>
    <div class="main-account">
      <h1>Your account</h1>
      <LoginEventEmitter />
      <p>
        Your avatar: <span class="avatar"></span>
      </p>
      <ProfileManager />
    </div>
  </div>

  <script>
    import Cookies from "js-cookie";
    import { Client, Databases, ID, Query, Account, Avatars } from "appwrite";

    // create client object from appwrite
    const client = new Client();
    console.log("client:", client);

    // set up appwrite client
    client
      .setEndpoint("https://appwrite.denweaver.com/v1") // Your API Endpoint
      .setProject(import.meta.env.PUBLIC_PROJECT_ID); // Your project ID

    const checkStatus = () => {
      console.log("checking status: loggedIn:", Cookies.get("login"));
      const account = new Account(client);
      const promise = account.get();
      const avatars = new Avatars(client);

      promise.then(
        function (response) {
          console.log("check login:", response);
          // document.querySelector(".username").innerHTML = response.name;
          // console.log('avatar', avResult)
          const avResult = avatars.getInitials(response.name, 64, 64);
          document.querySelector(
            ".avatar"
          ).innerHTML = `<img src="${avResult.href}" style="background:black;"/>`;
        },
        function (error) {
          console.log("check login:", error);
        }
      );

      // if (loggedIn) {
      //   document.querySelector(".logged-out").classList.add("hidden");
      //   document.querySelector(".logged-in").classList.remove("hidden");
      // } else {
      //   document.querySelector(".logged-in").classList.add("hidden");
      //   document.querySelector(".logged-out").classList.remove("hidden");
      // }
    };

    window.addEventListener("DOMContentLoaded", function () {
      checkStatus();
    });

    /** *
window.addEventListener("hashchange", () => {
    console.log("The hash has changed! hash",location.hash);
    console.log('drawer', drawer)
    drawer.hide()
    if(location.hash==='#loggedin'){
      loggedIn = true;
    } else {
      loggedIn = false;
    }
    checkStatus();
  },
  false,
);

**/
  </script>
</CommonLayout>
