---
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.html";
import News from "../components/News.astro";
import LeftColumn from "../components/LeftColumn.astro";
import RightColumn from "../components/RightColumn.astro";

//import { getCollection } from 'astro:content';
//const newsEntries = await getCollection('news');
let title = "Denweaver";
---

<MainLayout title="Denweaver - Main">
  <div class="main-wrapper">
    <header>
      <img src="/img/logo2.png" id="denlogo" />
    </header>
    <!-- <h1>{title}</h1> -->
    <img src="/img/Denweaver.png" id="dentitle" />
  </div>
</MainLayout>
<main>
  <div class="column col-left">
    <LeftColumn />
  </div>
  <div class="column col-middle">
    <News />
  </div>
  <div class="column col-right">
    <RightColumn />
  </div>
</main>
<Footer />

<style></style>
