---

---

<h2>Welcome to Denweaver</h2>

<p>
  Welcome to Denweaver! We are so glad you decided to take up a space in our
  wonderful world. Folks who decide to come live in our land are called
  DENizens. You will be given a small bit of land in one of the regions of this
  world where you will begin to build your DEN. Your DEN is basically your home
  here. Other DENizens can come visit you eventually, and you will eventually be
  able to grow and expand your home in many ways.
</p>
<p>
  However, this is just the beginning. Your DEN is your home ... above ground.
  But below, you also are tasked with creating another realm. Your DungEoN.
  Unlike your DEN which is homey and has all sorts of interesting and fun things
  like furniture, plants, and other items that a home might have, below in your
  DungEoN - you will have traps, monsters, and of course treasure.
</p>
<p>
  When another DENizen visits your DungEoN, they might encounter all the
  creatures and challenges you have set up. But they also might get part of the
  treasure! The more challenging and fun you make your DungEoN, the more points
  you will get. You can use these points to further upgrade your DEN and your
  DungEoN.
</p>
<p>
  This is just the beginning! Future expansions will allow you to have pets at
  your DEN, or for you to expand your DEN with garDENs, or you to travel to far
  away lands in large movable towers, or other vehicles. Your pets might even be
  monsters that you could employ in your DungEoN to earn you more points!
</p>
<style>
  body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
  }
</style>
